<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Mental Ayesha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p th:text="${testKey}"></p>

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Confirmed</th>
    </tr>
    <tr th:each="coronaVirusLocation : ${coronaVirusLocations}">
        <td th:text="${coronaVirusLocation.state}"></td>
        <td th:text="${coronaVirusLocation.country}"></td>
        <td th:text="${coronaVirusLocation.totalConfirmedCases}"></td>
    </tr>
</table>

</body>

</html>